.issuelist{
    width: 100%;
}

.timelabel{
    text-align: left;
    vertical-align: bottom;
    font-size : 0.9em;
    color: #808080;
    width: 15%;
}

.formerror{
    background-color: #F8E4E4;
    border: red 1px solid;
}

.errorbox{
    border: 1px solid red;
    color: red;
    padding: 1px;
}

.green{
    color: green;
    font-weight: bold;
}

.red{
    color: red;
    font-weight: bold;
}

.status_resolved{
    background-color: #2EAA20;
    color: white;
    font-weight: bold;
}

.status_posted{
    background-color: #D90000;
    color: white;
    font-weight: bold;
}

.status_open{
    background-color: #FF8000;
    color: black;
    font-weight: bold;
}

.status_resolving{
    background-color: #FCDD03;
    color: black;
    font-weight: bold;
}

.status_waiting{
    background-color: #BAAB45;
    color: black;
    font-weight: bold;
}

.status_abandonned{
    background-color: #454747;
    color: white;
    font-weight: bold;
}

.status_transfered{
    background-color: #E4E4E4;
    color: black;
    font-weight: normal;
}

.status_testing{
    background-color: #B8F079;
    color: black;
    font-weight: normal;
}

.status_published{
    background-color: #58BCF1;
    color: black;
    font-weight: normal;
}

.comments{
    background-color: #E0E0E0;
    padding: 2px;
    border: 1px solid #ACACAC;
}

.comment{
    border: 1px solid #FFFFFF;
}

.visiblediv{
    visibility: visible; 
    display: block;
}

.hiddendiv{
    visibility: hidden; 
    display: none;
}

.list_priority{
    text-align: center;
    vertical-align: bottom;
    font-size: 0.9em;
}

.list_issuenumber{
    text-align: left;
    vertical-align: bottom;
    font-size: 0.9em;
}

.list_summary{
    text-align: left ;
    vertical-align: bottom;
    font-size: 0.9em;
    width: 40%;
    padding: 2px;
}

.list_reportedby{
    text-align: left;
    vertical-align: bottom;
    font-size: 0.9em ;
    color: #4D4D4D;
    width:10%;
}

.list_assignedto{
    text-align: left;
    vertical-align: bottom;
    font-size: 0.9em;
    color: #4D4D4D;
    width: 10%;
}

.list_watches{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list_status{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list_transfered{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list_testing{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.list_action{
    text-align: center;
    vertical-align: bottom;
    width: 5%;
}

.tracker_image_attachment{
     max-width:570px;
}

.flexible .r0{
   background-color:#F0F0F0;
}

.flexible .r1{
   background-color:#F8F8F8;
}

.nullclass{
	color:#D0D0D0;
}

.redtext{
	color:#800000;
}

.tracker-printtable{
	border:1px #808080 solid;
	margin-top:10px;
}

.tracker-printtable.title,
.tracker-printtable.ticketid{
	background-color:#E0E0E0;
	border:1px solid #000000;
}

.tracker-printtable.ticketid{
	font-weight:bolder;
}

.tracker-printtable.summary{
	border:1px solid #000000;
}

.tracker-issue td{
	border:1px solid #000000;
}

.tracker-issue-param{
	background-color:#FFFFFF;
	border:1px solid #000000;
}

.tracker-issue-description{
	background-color:#FFFFFF;
	border:1px solid #000000;
	padding:5px;
}

/*Additions made by Andrew M. Clark for CS 4540 Tracker Mod */
li {
  color:#0000cd;
}

table {
  display:table;
  border-color:#000000;
  background-color:#FFFFFF;
}

.form-setting .form-defaultinfo, .form-label .form-shortname, .fp-restrictions {
  color:#f0ffff !important;
}

tr {
  bgcolor:#6495ed;
}

a:link {color:#0000cd;}     

a:visited {color:#0000cd;} 

a:hover {color:#FF0000;}  

a:active {color:#0000cd;}  

p, .green {
  color:#000000;
}

.mod-header {
  margin-left:auto;
  margin-right:auto;
  width:48%;
}
body input[type="submit"], body input[type="button"]{
  font-family:Harrington;
  font-size:18px;
background-color: hsl(209, 86%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#83bef5", endColorstr="#073968");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#83bef5), to(#073968));
  background-image: -moz-linear-gradient(top, #83bef5, #073968);
  background-image: -ms-linear-gradient(top, #83bef5, #073968);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #83bef5), color-stop(100%, #073968));
  background-image: -webkit-linear-gradient(top, #83bef5, #073968);
  background-image: -o-linear-gradient(top, #83bef5, #073968);
  background-image: linear-gradient(#83bef5, #073968);
  border-color: #073968 #073968 hsl(209, 86%, 9%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
}

body {
background: rgb(180,221,180); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 0%, rgba(82,177,82,1) 21%, rgba(0,138,0,1) 67%, rgba(7,119,0,1) 96%, rgba(0,36,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(180,221,180,1)), color-stop(0%,rgba(131,199,131,1)), color-stop(21%,rgba(82,177,82,1)), color-stop(67%,rgba(0,138,0,1)), color-stop(96%,rgba(7,119,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 0%,rgba(82,177,82,1) 21%,rgba(0,138,0,1) 67%,rgba(7,119,0,1) 96%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 0%,rgba(82,177,82,1) 21%,rgba(0,138,0,1) 67%,rgba(7,119,0,1) 96%,rgba(0,36,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 0%,rgba(82,177,82,1) 21%,rgba(0,138,0,1) 67%,rgba(7,119,0,1) 96%,rgba(0,36,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 0%,rgba(82,177,82,1) 21%,rgba(0,138,0,1) 67%,rgba(7,119,0,1) 96%,rgba(0,36,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family:Kristen ITC;
}

select {
  font-family:Kristen ITC;
}


